.container {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1)
}

.scheduleOfAppointment_title {
  color: rgb(61, 74, 56);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;

  display: flex;
  padding: 1.5rem;
  flex-direction: column;
}

.timeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;

  padding-top: 0;
  padding: 1.5rem;
  box-sizing: border-box;
}

.timeButton {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-family: inherit;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border: none;
  border-radius: 0.75rem;
  gap: 0.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;

  text-transform: none;
  cursor: pointer;
}

.timeButton:hover {
  background-color: rgb(156, 175, 136);
  color: white;
}

.selected {
  outline: 2px solid #1b5e20;
  background-color: rgb(156, 175, 136);
  color: white;
}