.container {
  position: relative;
  width: 30%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.74%, #000 100%);
}

.container_img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.legenda {
  position: absolute;
  left: 10px;
  bottom: 100px;
}

.legenda h1 {
  margin: 0;
  color: white;
  margin-bottom: 10px;
}

.legenda2 {
  position: absolute;
  left: 10px;
  bottom: 50px;
}

.legenda2 h3{
  margin: 0;
  color: white;
  font-size: 15px;
  margin-bottom: 3px;
}

.legenda2 h2 {
  margin: 0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.consulta {
  position: absolute;
  display: flex;
  flex-direction: row;
  background: linear-gradient(to left, #e66465, #9198e5);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  left: 10px;
  bottom: 20px;
  padding: 5px;
}

.consulta img {
  width: 20px;
  align-items: center;
  margin-top: -2px;
}

.container_2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container_2_left {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9198e5;
  transform: rotate(-20deg);
  z-index: -3;
}

.container_2 img {
  transform: rotate(20deg);
}

.container_2_div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.lora_xablau {
  color: purple;
  font-size: 40px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.container_2_div_number {
  display: flex;
  flex-direction: row;
  background-color: #9198e5;
  border-radius: 10px;
  
}

.container_2_div_number h2 {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  font-size: 70px;
}

.container_2_div h3 {
  background-color: bisque;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px){
  .main_login {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container_img {
    width: 100%;
  }

  .legenda {
    margin: 5px;
    padding: 5px;
  }

  .legenda h1 {
    font-size: 30px;
    margin-bottom: 50px;
    padding: 5px;
  }

  .legenda2 h3 {
    font-size: 25px;
  }

  .legenda2 h2 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .consulta {
    width: 200px;
    height: 40px;
    padding-bottom: 20px;
  }
}