.container {
  position: relative;
  background: linear-gradient(270deg, rgba(50, 20, 30, 0.5) 10%, #000 90%);
}

.container_img {
  width: 100%;
  height: 900px;
  position: relative;
  z-index: -1;
}

.mainHero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #faf3f3;
}

.mainHeroLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 30px;
  padding-right: 30px;
}

.mainHeroLeftSide p {
  color: #a2b18b;
  max-width: 28rem;
  font-size: 1.125rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.heart {
  width: 0.875rem;
  height: 0.875rem;
  font-weight: 500;
}

.leftSideTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #5a6b4d;
  background-color: #9caf881a;
  border-radius: 20px;
  padding: 8px 16px;
  gap: 0.5rem;
  font-size: 0.875rem;
  width: 200px;
}

.title1 {
  font-size: 3.75rem;
  line-height: 1;
  margin-top: 2rem;
  color: rgb(61, 74, 56);
  font-weight: 300;
}

.title2 {
  color: rgb(156, 175, 136);
  font-weight: 500;
  font-size: 3.75rem;
  margin-bottom: 2rem;
}

.mainHeroRightSide {
  display: flex;
  justify-content: center;
  width: 50%;
  position: relative;
}

.mainHeroRightSide img {
  width: 500px;
  border-radius: 20px;
  display: block;
}

.infoCard {
  position: absolute;
  bottom: 30px;
  left: -20px;

  background-color: white;
  padding: 15px 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 15px;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.circleIcon {
  background-color: #F5F7F3;
  border-radius: 20px;
  width: 30px;
  height: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.infoCard strong {
  color: #5a6b4d;
}

.infoCard span {
  color: #a2b18b;
}

.heartIcon {
  color: #5a6b4d;
}

.infoCardText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legenda {
  position: absolute;
  left: 15px;
  bottom: 100px;
  color: white;
}

.montserrat_h1 {
  font-size: 75px;
  margin-bottom: 50px;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.legenda h2 {
  font-size: 45px;
  margin-bottom: 100px;
}

.legenda h3 {
  font-size: 25px;
}

.consulta {
  background: linear-gradient(to left, #e66465, #9198e5);
  border: none;
  border-radius: 10px;
  bottom: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  left: 100px;
  padding: 5px;
  position: absolute;
}

.consulta img {
  width: 20px;
  align-items: center;
  margin-top: 0px;
}

.container_2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container_2_left {
  align-items: center;
  background-color: #9198e5;
  display: flex;
  justify-content: center;
  transform: rotate(-20deg);
  width: 30%;
  z-index: -3;
}

.container_2 img {
  transform: rotate(20deg);
}

.container_2_div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.lora_xablau {
  color: purple;
  font-size: 40px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.container_2_div_number {
  display: flex;
  flex-direction: row;
  background-color: #9198e5;
  border-radius: 10px;
  
}

.container_2_div_number h2 {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  font-size: 70px;
}

.container_2_div h3 {
  background-color: bisque;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsBar {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1000px){
  .main_login {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .container_img {
    width: 100%;
  }

  .legenda {
    margin: 5px;
    padding: 5px;
  }

  .legenda h1 {
    font-size: 30px;
    padding: 5px;
    height: 100%;
  }

  .legenda2 h3 {
    font-size: 25px;
    padding: 5px;
  }

  .legenda2 h2 {
    font-size: 20px;
    padding: 5px;
  }

  .consulta {
    width: 200px;
    height: 40px;
    padding-bottom: 20px;
  }
}