.container {
  position: relative;
  background: linear-gradient(270deg, rgba(50, 20, 30, 0.5) 10%, #000 90%);
}

.container_img {
  width: 100%;
  height: 900px;
  position: relative;
  z-index: -1;
}

.legenda {
  position: absolute;
  left: 15px;
  bottom: 100px;
  color: white;
}

.montserrat_h1 {
  font-size: 75px;
  margin-bottom: 50px;
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.legenda h2 {
  font-size: 45px;
  margin-bottom: 100px;
}

.legenda h3 {
  font-size: 25px;
}

.consulta {
  background: linear-gradient(to left, #e66465, #9198e5);
  border: none;
  border-radius: 10px;
  bottom: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: bold;
  left: 100px;
  padding: 5px;
  position: absolute;
}

.consulta img {
  width: 20px;
  align-items: center;
  margin-top: 0px;
}

.container_2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container_2_left {
  align-items: center;
  background-color: #9198e5;
  display: flex;
  justify-content: center;
  transform: rotate(-20deg);
  width: 30%;
  z-index: -3;
}

.container_2 img {
  transform: rotate(20deg);
}

.container_2_div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.lora_xablau {
  color: purple;
  font-size: 40px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.container_2_div_number {
  display: flex;
  flex-direction: row;
  background-color: #9198e5;
  border-radius: 10px;
  
}

.container_2_div_number h2 {
  margin-right: 10px;
  margin-left: 10px;
  color: white;
  font-size: 70px;
}

.container_2_div h3 {
  background-color: bisque;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1000px){
  .mainHome {
    display: flex;
    flex-direction: column;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .container_img {
    width: 100%;
  }

  .legenda {
    margin: 5px;
    padding: 5px;
  }

  .legenda h1 {
    font-size: 30px;
    padding: 5px;
    height: 100%;
  }

  .legenda2 h3 {
    font-size: 25px;
    padding: 5px;
  }

  .legenda2 h2 {
    font-size: 20px;
    padding: 5px;
  }

  .consulta {
    width: 200px;
    height: 40px;
    padding-bottom: 20px;
  }
}