.container {
  background-color: #FAF3F3;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;

  display: flex;
  justify-content: center;
}

.contentContainer {
  box-sizing: border-box;
  opacity: 1;
  transform: none;
  box-sizing: border-box;
  display: block;
  width: 1024px;
}

.goBackContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #6b7c5f;
}

.goBackContainer:hover {
  color: #6b7c5f;
}

.arrowIcon {
  color: #6B7C5F
}


.aboveSections {
  text-align: center;
  margin-bottom: 3rem;
}

.calendarContainer {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #9CAF881a;
  gap: 0.5rem;
  border-radius: 9999px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.calendarIcon {
  color: rgb(156, 175, 136);
  width: 1rem;
  height: 1rem;
}

.calendarContainer span {
  color: rgb(90, 107, 77);
  font-weight: 500;
  line-height: 1.25rem;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 0.875rem;
}

.aboveSections p {
  color: #6B7C5F;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.aboveSections h1 {
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  color: #5A6B4D;
  font-family: sans-serif;
}

.aboveSections h1 span {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: center;
  font-family: sans-serif;
  color: rgb(61, 74, 56);
}

.sectionsContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  box-sizing: border-box;
}

.leftSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.rightSection {
  display: flex;
  flex-direction: column;
  width: 70%;
}

