.cardContainer {
  background-color: #FAF3F3;
  padding: 2rem;
  border-radius: 1.5rem;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 550px;
}

.cardIconContainer {
  background-color: white;
  width: fit-content;
  padding: 0.5rem;
  margin: 0 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.cardTitle {
  color: #3D4A38;
  font-family: sans-serif;
  font-size: 20px;
  margin: 0 0 12px;
  text-align: left;
}

.cardText {
  color: #6B7C5F;
  font-family: sans-serif;
  font-size: 16px;
  text-align: left;
}