.resumeContainer {
  background-color: #FBFAF9;
  border-radius: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  box-sizing: border-box;
  position: sticky;
  top: 20px;
}

.resumeContainer h3 {
  color: rgb(61, 74, 56);
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.resumeContainer_top {
  gap: 1rem;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.firstP {
  color: rgb(107, 124, 95);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.secondP {
  color: rgb(61, 74, 56);
  text-transform: capitalize;
  font-weight: 500;
}

.lineDiv {
  border-style: dashed;
  border-top-width: 1px;
  border-color: rgb(229, 231, 235);

  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  box-sizing: border-box;
}

.iconRightSideContainer {
  background-color: #9CAF881a;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;

  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

.valueContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.iconRightSide {
  color: rgb(156, 175, 136);
  width: 1.25rem;
  height: 1.25rem;
  box-sizing: border-box;
}

.firstSpan {
  color: #6B7C5F;
  box-sizing: border-box;
}

.secondSpan {
  color: #3D4A38;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  box-sizing: border-box;
}

.resumeContainer button {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: #9CAF88;
  color: white;

  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border-radius: 0.75rem;
  border-width: 0;
  border-style: solid;
  gap: 0.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.25rem;
  cursor: pointer;
  text-transform: none;

  font-family: inherit;
  box-sizing: border-box;
  box-shadow: rgba(156, 175, 136, 0.25);
}

.resumeContainer button:hover {
  background-color: #6b7c5f;
  transition: 0.2s;
}

.creditCardIcon {
  width: 15px;
  height: 15px;
  color: white;
}

.thirdP {
  color: rgb(107, 124, 95);
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  margin-top: 1rem;
  box-sizing: border-box;
}
