.welcome {
  color: #667669;
  font-size: 20px;
}

.singInWithGoogle {
  width: 100%x;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 1.5px;
}

.googleIcon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-left: 5px;
}

.singOut {
  margin-left: 15px;
  width: 60px;
  height: 20px;
}