.container {
  display: flex;
  justify-content: center;
}
.welcome {
  color: #667669;
  font-size: 20px;
}

.singInWithGoogle {
  width: 100%x;
  background-color: white;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 1.5px;
  cursor: pointer;
}

.googleIcon {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  margin-left: 5px;
}

.singOut {
  margin-left: 15px;
  width: 60px;
  height: 20px;
  border: 1px solid red;
  border-radius: 15px;
  background-color: white;
  color: red;
  cursor: pointer;
}

.singOut:hover {
  background-color: #8B0000;
  color: white;
}

.singOut:active {
  background-color: #fa8072;
}

@media screen and (max-width: 1000px) {
  .singInWithGoogle {
    height: 100%;
    width: 100%;
  }
  .singInWithGoogle span {
    display: none;
  }
}