.main_header {
  background-color: blueviolet;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  text-align: center;
  height: 30px;
}

@media screen and (max-width: 1000px) {
  .main_header {
    width: 510px;
  }
}