.footerContainer {
  background-color: #3D4A38;
  padding: 3rem 1rem 3rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContainer ul {
  list-style: none;
}

.footerContainer h4 {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 1rem;
}

.footerContainer a, p, li {
  color: #ffffffb3;
  text-decoration: none;
  font-size: 16px;
  font-family: sans-serif;
}

.footerContainer li {
  margin-top: 8px;
}

.topContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 1024px;
  gap: 2rem;
}

.firstColumn {
  display: flex;
  flex-direction: column;
}

.iconTextContainer {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.iconContainer {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #9CAF88;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #ffffff;
  size: 16px;
}

.firstColumn span {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: sans-serif;
  color: #ffffff;
}

.secondColumn {
  display: flex;
  flex-direction: column;
}

.thirdColumn {
  display: flex;
  flex-direction: column;
}

.lastInfos {
  border-top: 1px solid;
  color: #ffffff80;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  padding-top: 2rem;
  border-color: #ffffff1a;
  margin-top: 2rem;
  min-width: 1024px;
}